/* foodcont styling */
.foodcontainer {
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
  padding-top: 15px;
  /* background-image: 'url("C:\Users\703343350\Desktop\food-packaging-frontend\src\img\bckgrnd.avif")'; */
}

.foodcontainer .left-side {
  width: 100%;
  overflow-y: scroll;
  padding-left: 20px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 
}

.foodcontainer .left-side::-webkit-scrollbar {
  display: none;
}


.foodcontainer .left-side .cards {
  background: #f1dfdb;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  border-radius: 10px;
  flex-direction: column;
  /* height:100% */
  
}

.foodcontainer .left-side .cards .all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}

.foodcontainer .left-side .cards .all .varieties {
  display: flex;
  align-items: center;
}
.foodcontainer .left-side .cards .top-section1 {
 width: 50%;
}

.varieties .var-btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 2px solid #302958;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0px 5px;
}

.varieties .var-btn:hover, .varieties .var-btn:focus {
  background: #F17E6C;
  border: none;
  color: white
}



/* foodbox styling */
.foodcontainer .left-side .cards main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.foodcontainer .left-side .cards main .details {
  background: #1F1D2B;
  border-radius: 10px;
  /* max-width: 260px; */
  max-width: 220px;
  padding-bottom: 20px;
  margin: 20px 25px;
  overflow: hidden;
}

.foodcontainer .left-side .cards main .details .details-img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.foodcontainer .left-side .cards main .details .food-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 10px;
}

.foodcontainer .left-side .cards main .details .food-name h2 {
  color: #e9e9ec;
  font-size: 16px;
  font-weight: bold;
}

.foodcontainer .left-side .cards main .details .food-details {
  padding: 5px 10px;
  text-align: left;
  margin: 10px;
}
.foodcontainer .left-side .cards main .details .food-details p {
  font-size: 12px;
  font-weight: bold;
  color: #a5a4a9;
}

.foodcontainer .left-side .cards main .details .cart-btn {
  padding: 5px 20px;

}

.foodcontainer .left-side .cards main .details .cart-btn .btn {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(#F17E6C, #fa7c69);
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 100%;
}

.foodcontainer .left-side .cards main .details .cart-btn .btn:hover {
  background: none;
  color: #F17E6C;;
  border: 1px solid #F17E6C;;
  transition: 0.5s ease-in-out;
}


/* PaymentSect styling */


.foodcontainer .left-side .cards .title {
  color:white;
}

@media screen and (max-width: 525px) {
  .foodcontainer {
    flex-direction: column;
    height: auto;
  }
  .foodcontainer .left-side {
    width: 100%;
  }

  .foodcontainer .left-side .cards main .details {
    max-width: 325px;
  }

  .foodcontainer .left-side .cards .all .varieties {
    overflow-x: scroll;
  }
  .foodcontainer .left-side .cards .title {
    margin-top: -10%;
    color:white;
  }
/* 
  .foodcontainer .right-side {
    width: 100%;
    padding: unset;
  } */
}
.top-section1 .search-box {
  width: 100%;
  height: 58px;
  position: relative;
  padding-left: 10px;
  
}


.top-section1 .search-box input {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 0px 40px;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
}

.top-section1 .search-box input::placeholder {
  color: #c3c3c3;
}

.top-section1 .search-box i {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 23px;
  width: 48px;
  height: 58px;
  text-align: center;
  line-height: 45px;
  background-color: #FE555F;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 7px;
}

@media only screen and (min-width: 525px) and (max-width: 950px) {
  .foodcontainer {
    height: calc(100% - 25px);
  }
  .foodcontainer .left-side {
    width: calc(100% - 30%);
  }

  /* .foodcontainer .right-side {
    width: calc(100% - 60%);
  } */

  .foodcontainer .left-side .cards main .details {
    max-width: 230px;
    margin: 20px 5px;
  }

  .foodcontainer .left-side .cards .all {
    padding: 0;
  }

  /* .foodcontainer .right-side .payment .price {
    padding: 0;
  } */
}







